<div id='menu'</div>
<script src='js/menu.js'></script>
<script src='js/finplot.js'></script>
<script src='js/sorttable.js'></script>
<script src='app/list-perc.js'></script>
<hr>
<div id='buttons'>
  <input id='ticker' type='text' placeholder='Tickers'/>
</div>
LSE
<table id='table' class='sortable'>
</table>
