<div id='menu'</div>
<script src='js/menu.js'></script>
<script src='js/finplot.js'></script>
<script src='app/list-lse-chart.js'></script>
<hr>
<div id='buttons'>
  <button onclick="drawPlot('1d')">1d</button>
  <button onclick="drawPlot('1m')">1m</button>
  <button onclick="drawPlot('3m')">3m</button>
  <button onclick="drawPlot('1y')">1y</button>
  <input id='ticker' type='text' placeholder='Tickers'/>
</div>
See list below
<div id='total'></div>
<div id='count'></div>
<hr>
<div id='plot'></div>
