<div id='menu'</div>
<script src='js/menu.js'></script>
<script src='js/finplot.js'></script>
<script src='js/sorttable.js'></script>
<script src='app/list-ib.js'></script>
<hr>
<div id='buttons'>
  <input id='ticker' type='text' placeholder='Tickers'/>
</div>
Note: LSE<br>
See list below.
<div id='total'></div>
<div id='count'></div>
<hr>
<div id='list'></div><br>
