<div id='menu'</div>
<script src='js/menu.js'></script>
<script src='app/lse-conid.js'></script>
<hr>
<div id='buttons'>
  <input id='ticker' type='text' placeholder='Ticker'/>
</div>
<hr>
Result:
<div id='result'></div>
