<div id='menu'</div>
<script src='js/menu.js'></script>
<script src='app/scanner-lse.js'></script>
<hr>
<h2>LSE: Top perc gain</h2>
<div id='table'>Running scanner...</div>
<h2>List</h2>
<div id='list'></div>
