[uwsgi]
# App base dir
base = {{ app_dir }}

plugins = python3

# python module
app = server
module = %(app)

home = %(base)/venv
pythonpath = %(base)

#socket file's location
socket = %(base)/%n.sock

#permissions for the socket file
chmod-socket = 666

#the variable that holds a flask application inside the module imported at line #6
callable = app

#location of log files
logto = /var/log/uwsgi/%n.log
